.statistics {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.box {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.firstSection, .secondSection, .thirdSection, .fourthSection{
    width: 100px;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.firstSection {
    background-color: blue;
}

.secondSection {
    background-color: purple;
}

.thirdSection {
    background-color: red;
}

.fourthSection {
    background-color: aqua;
}